In [2]:
from pycaret.

In [3]:
loader = CSV_Loader()
data = loader._load_file("../data/raw/consumo_casa.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194123 entries, 0 to 194122
Columns: 11 entries, Unnamed: 0 to Sound system
dtypes: float64(9), int64(1), object(1)
memory usage: 28.2 MB

In [5]:
data.get

,Unnamed: 0,Fecha,Medidor [W],Refrigerator,Clothes washer,Clothes Iron,Computer,Oven,Play,TV,Sound system
0,0,2017-06-07 0:00,228.887,134.6,1.0,0.0,0.3,0.1,0.0,0.0,0.1
1,1,2017-06-07 0:01,231.814,134.6,0.2,0.0,0.3,0.2,0.0,0.0,0.1
2,2,2017-06-07 0:02,230.971,131.3,0.3,0.0,0.3,0.0,0.0,0.0,1.0
3,3,2017-06-07 0:03,231.878,131.3,0.0,0.5,0.1,0.0,1.1,0.1,1.0
4,4,2017-06-07 0:04,189.225,0.0,0.1,0.0,0.0,0.1,0.0,0.6,0.1
...,...,...,...,...,...,...,...,...,...,...,...
194118,194118,2017-10-22 23:55,88.272,0.1,1.4,0.0,0.0,0.8,0.4,0.2,0.4
194119,194119,2017-10-22 23:56,86.386,1.0,1.3,0.1,0.0,1.0,1.3,1.0,0.6
194120,194120,2017-10-22 23:57,85.766,0.0,1.8,0.1,0.0,0.1,0.1,1.0,0.6
194121,194121,2017-10-22 23:58,87.665,0.4,0.0,0.1,0.0,0.4,0.1,1.1,1.0
194122,194122,2017-10-22 23:59,86.988,0.3,0.7,0.8,0.2,0.4,1.1,1.0,0.2

In [4]:
loader