In [2]:
from pycaret.regression import *
import pandas as pd

In [3]:
df = pd.read_csv("../data/transformed/cargas_desagregadas_transformadas.csv")

In [4]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [5]:
electrodomestics = ['Refrigerator',
    'Clothes washer',
    'Clothes Iron',
    'Computer',
    'Oven',
    'Play',
    'TV',
    'Sound system']
electrodomestics

['Refrigerator',
 'Clothes washer',
 'Clothes Iron',
 'Computer',
 'Oven',
 'Play',
 'TV',
 'Sound system']

In [6]:
df.drop("prediction", axis=1, inplace=True)

In [7]:
def data_regression(data, column):
    dft = data.copy()
    dft["y_pred"] = data[column].copy()
    for columna in df[electrodomestics]:
        dft[columna] = dft[columna].apply(lambda x: 1 if x != 0 else 0)
        dft[columna] = dft[columna].astype("object")
    dft = dft[dft["y_pred"] != 0]
    return dft

In [8]:
cat_col = ['Refrigerator',
 'Clothes washer',
 'Clothes Iron',
 'Computer',
 'Oven',
 'Play',
 'TV',
 'Sound system',
 'Month',
 'Day',
 'Hour',
 'Minutes',
 'WeekDay',
 'Hora_punta']

In [10]:
df.columns

Index(['Fecha', 'Medidor [W]', 'Refrigerator', 'Clothes washer',
       'Clothes Iron', 'Computer', 'Oven', 'Play', 'TV', 'Sound system',
       'Month', 'Day', 'Hour', 'Minutes', 'WeekDay', 'Ptc_delta', 'Movil',
       'Hora_punta', 'delta'],
      dtype='object')

In [20]:
def train_model_personalized(target):
    data = data_regression(df, target)
    cat_col = electrodomestics.extend(["Month", "Day", "Hour", "Minutes", "WeekDay", "Hora_punta"])
    
    setup(data,
      normalize=True,
      target="y_pred",
      date_features=["Fecha"],
      categorical_features=cat_col,
      session_id=42)
    
    estimator = 'rf'
    model = create_model(estimator)
    save_model(model, f'modelo {target}')

    return model

In [21]:
clothes_washer_model = train_model_personalized("Clothes washer")

Transformation Pipeline and Model Successfully Saved

In [31]:
electrodomestics

['Refrigerator',
 'Clothes washer',
 'Clothes Iron',
 'Computer',
 'Oven',
 'Play',
 'TV',
 'Sound system',
 'Month',
 'Day',
 'Hour',
 'Minutes',
 'WeekDay',
 'Hora_punta',
 'Month',
 'Day',
 'Hour',
 'Minutes',
 'WeekDay',
 'Hora_punta']

In [32]:
clothes_iron_model = train_model_personalized("Clothes Iron")

Transformation Pipeline and Model Successfully Saved

In [33]:
computer_model = train_model_personalized("Computer")

Transformation Pipeline and Model Successfully Saved

In [34]:
oven_model = train_model_personalized("Oven")

Transformation Pipeline and Model Successfully Saved