In [63]:
from pycaret.regression import *
import pandas as pd

In [80]:
df = pd.read_csv("../data/transformed/cargas_desagregadas_transformadas.csv")

In [81]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [82]:
electrodomestics = ['Refrigerator',
    'Clothes washer',
    'Clothes Iron',
    'Computer',
    'Oven',
    'Play',
    'TV',
    'Sound system']
electrodomestics

['Refrigerator',
 'Clothes washer',
 'Clothes Iron',
 'Computer',
 'Oven',
 'Play',
 'TV',
 'Sound system']

In [83]:
df.drop("prediction", axis=1, inplace=True)

In [84]:
def data_regression(data, column):
    dft = data.copy()
    dft["y_pred"] = data[column].copy()
    for columna in df[electrodomestics]:
        dft[columna] = dft[columna].apply(lambda x: 1 if x != 0 else 0)
        dft[columna] = dft[columna].astype("object")
    dft = dft[dft["y_pred"] != 0]
    return dft

In [85]:
df_lavadora = data_regression(df, "Clothes washer")
df_lavadora

,Fecha,Medidor [W],Refrigerator,Clothes washer,Clothes Iron,Computer,Oven,Play,TV,Sound system,Month,Day,Hour,Minutes,WeekDay,Ptc_delta,Movil,Hora_punta,delta,y_pred
0,2017-06-07 00:00:00,228.887,1,1,0,1,1,0,0,1,6,7,0,0,Wednesday,NaN,NaN,No pico,NaN,1.0
1,2017-06-07 00:01:00,231.814,1,1,0,1,1,0,0,1,6,7,0,1,Wednesday,1.278797,NaN,No pico,2.927,0.2
2,2017-06-07 00:02:00,230.971,1,1,0,1,0,0,0,1,6,7,0,2,Wednesday,-0.363654,230.557333,No pico,-0.843,0.3
4,2017-06-07 00:04:00,189.225,0,1,0,0,1,0,1,1,6,7,0,4,Wednesday,-18.394587,217.358000,No pico,-42.653,0.1
6,2017-06-07 00:06:00,190.360,1,1,1,0,1,1,0,0,6,7,0,6,Wednesday,0.599815,189.603333,No pico,1.135,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194115,2017-10-22 23:54:00,89.909,1,1,1,1,1,0,0,1,10,22,23,54,Sunday,1.524407,88.490000,No pico,1.350,1.4
194116,2017-10-22 23:55:00,88.272,1,1,0,0,1,1,1,1,10,22,23,55,Sunday,-1.820730,88.913333,No pico,-1.637,1.4
194117,2017-10-22 23:56:00,86.386,1,1,1,0,1,1,1,1,10,22,23,56,Sunday,-2.136578,88.189000,No pico,-1.886,1.3
194118,2017-10-22 23:57:00,85.766,0,1,1,0,1,1,1,1,10,22,23,57,Sunday,-0.717709,86.808000,No pico,-0.620,1.8
194120,2017-10-22 23:59:00,86.988,1,1,1,1,1,1,1,1,10,22,23,59,Sunday,-0.772258,86.806333,No pico,-0.677,0.7

In [73]:
cat_col = electrodomestics.extend(["Month", "Day", "Hour", "Minutes", "WeekDay", "Hora_punta", "prediction"])
cat_col

In [77]:
electrodomestics

['Refrigerator',
 'Clothes washer',
 'Clothes Iron',
 'Computer',
 'Oven',
 'Play',
 'TV',
 'Sound system',
 'Month',
 'Day',
 'Hour',
 'Minutes',
 'WeekDay',
 'Hora_punta',
 'prediction']

In [26]:
setup(df_lavadora,
      normalize=True,
      target="y_pred",
      date_features=["Fecha"],
      categorical_features=["Month", "Day", "Hour", "Minutes", "WeekDay", "Hora_punta", "prediction"].extend(electrodomestics),
      session_id=42)

In [27]:
model = create_model("rf")

In [28]:
tuned_model = tune_model(model)

Initiated  . . . . . . . . . . . . . . . . . .                   07:09:42
Status     . . . . . . . . . . . . . . . . . .  Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .    Random Forest Regressor

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits