In [16]:
from pycaret.regression import *
import pandas as pd

In [17]:
df = pd.read_csv("../data/transformed/cargas_desagregadas_transformadas.csv")
electrodomestics = ['Refrigerator',
    'Clothes washer',
    'Clothes Iron',
    'Computer',
    'Oven',
    'Play',
    'TV',
    'Sound system']
electrodomestics

['Refrigerator',
 'Clothes washer',
 'Clothes Iron',
 'Computer',
 'Oven',
 'Play',
 'TV',
 'Sound system']

In [18]:
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [19]:
electrodomestics = ['Refrigerator',
    'Clothes washer',
    'Clothes Iron',
    'Computer',
    'Oven',
    'Play',
    'TV',
    'Sound system']
electrodomestics

['Refrigerator',
 'Clothes washer',
 'Clothes Iron',
 'Computer',
 'Oven',
 'Play',
 'TV',
 'Sound system']

In [20]:
df.drop("prediction", axis=1, inplace=True)

In [21]:
electrodomestics

['Refrigerator',
 'Clothes washer',
 'Clothes Iron',
 'Computer',
 'Oven',
 'Play',
 'TV',
 'Sound system']

In [22]:
def data_regression(data, column):
    dft = data.copy()
    dft["y_pred"] = data[column].copy()
    for columna in df[electrodomestics]:
        dft[columna] = dft[columna].apply(lambda x: 1 if x != 0 else 0)
        dft[columna] = dft[columna].astype("object")
    dft = dft[dft["y_pred"] != 0]
    return dft

In [23]:
def train_model_personalized(target):
    df_refrigerador = data_regression(df, target)
    cat_col = electrodomestics.extend(["Month", "Day", "Hour", "Minutes", "WeekDay", "Hora_punta"])
    
    setup(df_refrigerador,
      normalize=True,
      target="y_pred",
      date_features=["Fecha"],
      categorical_features=electrodomestics.extend(["Month", "Day", "Hour", "Minutes", "WeekDay", "Hora_punta"]),
      session_id=42)
    
    estimator = 'rf'
    model = create_model(estimator)
    save_model(model, f'modelo {target}')

    return model

In [24]:
train_model_personalized(['Refrigerator'])

Initiated  . . . . . . . . . . . . . . . . . .                 09:28:39
Status     . . . . . . . . . . . . . . . . . .         Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Regressor

Processing:   0%|          | 0/4 [00:00<?, ?it/s]